<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>後台管理</title>
<link type="text/css" rel="stylesheet" href="/static/css/style.css" >
<style type="text/css">
	h1 {
		text-align: center;
		margin-top: 200px;
	}
</style>
</head>
<body>
	
	<div id="header">
			<img class="logo_img" alt="" src="/static/img/logo.gif" >
			<span class="wel_word">後台管理系统</span>
			<div>
				<a href="/getPageBooks">圖書管理</a>
				<a href="/getOrders">訂單管理</a>
				<a href="/main">返回商城</a>
			</div>
	</div>
	
	<div id="main">
		<h1>歡迎管理員進入管理系統</h1>
	</div>
	
</body>
</html>