<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>訂單管理</title>
<link type="text/css" rel="stylesheet" href="/static/css/style.css" >
</head>
<body>
	<div id="header">
			<img class="logo_img" alt="" src="/static/img/logo.gif" >
			<span class="wel_word">訂單管理系統</span>
			<div>
				<a href="/getPageBooks">圖書管理</a>
				<a href="/getOrders">訂單管理</a>
				<a href="/main">返回商城</a>
			</div>
	</div>
	
	<div id="main">
		<table>
			<tr>
				<th>訂單號</th>
				<th>日期</th>
				<th>數量</th>
				<th>金額</th>
				<th>訂單詳情</th>
				<th>物流狀態</th>
			</tr>		
		{{range .}}
			<tr>
				<td>{{.OrderID}}</td>
				<td>{{.CreateTime}}</td>
				<td>{{.TotalCount}}</td>
				<td>{{.TotalAmount}}</td>
				<td><a href="/getOrderInfo?orderid={{.OrderID}}">查看詳情</a></td>
				<td class="state">
					{{if .NoSend}}
					<a href="/sendOrder?orderId={{.OrderID}}">發貨</a>
					{{end}}
					{{if .SendComplate}}
						等待確認收貨
					{{end}}		
					{{if .Complate}}
						交易完成
					{{end}}			
				</td>
			</tr>
		{{end}}		
		</table>
	</div>
	
</body>
</html>