<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>會員註冊</title>
<link type="text/css" rel="stylesheet" href="/static/css/style.css" >
<style type="text/css">
	h1 {
		text-align: center;
		margin-top: 200px;
	}
	
	h1 a {
		color:red;
	}
</style>
</head>
<body>
		<div id="header">
				<img class="logo_img" alt="" src="/static/img/logo.gif" >
				<span class="wel_word"></span>
				<div>
					<span>歡迎<span class="um_span">新用戶</span>光臨線上書城</span>
					<a href="/getCartInfo">購物車</a>
				</div>
		</div>
		
		<div id="main">
		
			<h1>註冊成功 <a href="/main">回首頁</a></h1>
	
		</div>
		
</body>
</html>