<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>结算页面</title>
<link type="text/css" rel="stylesheet" href="/static/css/style.css" >
<style type="text/css">
	h1 {
		text-align: center;
		margin-top: 200px;
	}
</style>
</head>
<body>
	
	<div id="header">
			<img class="logo_img" alt="" src="/static/img/logo.gif" >
			<span class="wel_word">結算</span>
			<div>
				<span>歡迎<span class="um_span">{{.UserName}}</span>光臨線上書城</span>
				<a href="/getCartInfo">購物車</a>
				<a href="/logout">登出</a>&nbsp;&nbsp;
				<a href="/main">返回</a>
			</div>
	</div>
	
	<div id="main">
		
		<h1>您的訂單已送出，訂單號為<span style="color: red;">{{.Order.OrderID}}</span> <br /><br />
			<a href="/main" style="color: blue;">回首頁</a>
		</h1>
	
	</div>
	

</body>
</html>